node-red-flows.json
[
  {
    "id": "reuse_admin_tab",
    "type": "tab",
    "label": "ReUse Admin",
    "disabled": false,
    "info": "Painel administrativo da plataforma ReUse\n\nFuncionalidades:\n- Listar configurações\n- Atualizar configurações\n- Ver estatísticas\n- Toggle de funcionalidades\n\nConfigure suas credenciais no node 'Config Supabase'"
  },
  {
    "id": "config_supabase",
    "type": "comment",
    "z": "reuse_admin_tab",
    "name": "📝 CONFIGURE AQUI:",
    "info": "Edite os nodes HTTP Request abaixo com:\n\n1. URL: https://gvwkpidbubfqhhcbwanu.supabase.co/functions/v1/admin-api\n2. Authorization Header: Bearer SEU_TOKEN_AQUI\n\nPara obter o token:\n1. Faça login no app ReUse\n2. Abra DevTools > Application > Local Storage\n3. Copie o access_token",
    "x": 150,
    "y": 60,
    "wires": []
  },
  {
    "id": "dashboard_ui",
    "type": "ui_group",
    "name": "Painel Admin ReUse",
    "tab": "ui_tab_admin",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_tab_admin",
    "type": "ui_tab",
    "name": "ReUse Admin",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "btn_listar_settings",
    "type": "ui_button",
    "z": "reuse_admin_tab",
    "name": "Listar Configurações",
    "group": "dashboard_ui",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "📋 Listar Configurações",
    "tooltip": "Buscar todas as configurações da plataforma",
    "color": "",
    "bgcolor": "",
    "icon": "list",
    "payload": "",
    "payloadType": "str",
    "topic": "list_settings",
    "x": 160,
    "y": 140,
    "wires": [["http_get_settings"]]
  },
  {
    "id": "http_get_settings",
    "type": "http request",
    "z": "reuse_admin_tab",
    "name": "GET /settings",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://gvwkpidbubfqhhcbwanu.supabase.co/functions/v1/admin-api/settings",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "other",
        "keyValue": "Authorization",
        "valueType": "other",
        "valueValue": "Bearer SEU_TOKEN_AQUI"
      }
    ],
    "x": 380,
    "y": 140,
    "wires": [["format_settings_display"]]
  },
  {
    "id": "format_settings_display",
    "type": "function",
    "z": "reuse_admin_tab",
    "name": "Formatar Configurações",
    "func": "const settings = msg.payload.settings || [];\n\nlet html = '<h3>⚙️ Configurações da Plataforma</h3>';\nhtml += '<table style=\"width:100%; border-collapse: collapse;\">';\nhtml += '<tr style=\"background:#34495e; color:white;\"><th style=\"padding:10px;\">Chave</th><th>Valor</th><th>Descrição</th></tr>';\n\nsettings.forEach((s, i) => {\n    const bgColor = i % 2 === 0 ? '#ecf0f1' : 'white';\n    let valueDisplay = s.value;\n    \n    // Colorir valores booleanos\n    if (valueDisplay === 'true') {\n        valueDisplay = '✅ Ativo';\n    } else if (valueDisplay === 'false') {\n        valueDisplay = '❌ Inativo';\n    }\n    \n    html += `<tr style=\"background:${bgColor};\">`;\n    html += `<td style=\"padding:8px; font-weight:bold;\">${s.key}</td>`;\n    html += `<td style=\"padding:8px;\">${valueDisplay}</td>`;\n    html += `<td style=\"padding:8px; font-style:italic;\">${s.description || '-'}</td>`;\n    html += '</tr>';\n});\n\nhtml += '</table>';\n\nmsg.payload = html;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 140,
    "wires": [["ui_display_settings"]]
  },
  {
    "id": "ui_display_settings",
    "type": "ui_template",
    "z": "reuse_admin_tab",
    "group": "dashboard_ui",
    "name": "Display Configurações",
    "order": 2,
    "width": 0,
    "height": 0,
    "format": "<div ng-bind-html=\"msg.payload\"></div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 860,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "btn_stats",
    "type": "ui_button",
    "z": "reuse_admin_tab",
    "name": "Ver Estatísticas",
    "group": "dashboard_ui",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "📊 Ver Estatísticas",
    "tooltip": "Buscar estatísticas da plataforma",
    "color": "",
    "bgcolor": "",
    "icon": "bar_chart",
    "payload": "",
    "payloadType": "str",
    "topic": "get_stats",
    "x": 150,
    "y": 240,
    "wires": [["http_get_stats"]]
  },
  {
    "id": "http_get_stats",
    "type": "http request",
    "z": "reuse_admin_tab",
    "name": "GET /stats",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://gvwkpidbubfqhhcbwanu.supabase.co/functions/v1/admin-api/stats",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "other",
        "keyValue": "Authorization",
        "valueType": "other",
        "valueValue": "Bearer SEU_TOKEN_AQUI"
      }
    ],
    "x": 360,
    "y": 240,
    "wires": [["format_stats_display"]]
  },
  {
    "id": "format_stats_display",
    "type": "function",
    "z": "reuse_admin_tab",
    "name": "Formatar Estatísticas",
    "func": "const stats = msg.payload.stats || {};\n\nlet html = '<h3>📊 Estatísticas da Plataforma</h3>';\nhtml += '<div style=\"display:grid; grid-template-columns: repeat(2, 1fr); gap:20px;\">';\n\n// Card Usuários\nhtml += '<div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding:20px; border-radius:10px; color:white; text-align:center;\">';\nhtml += '<h2 style=\"margin:0; font-size:48px;\">👥 ' + stats.totalUsers + '</h2>';\nhtml += '<p style=\"margin:5px 0 0 0; font-size:18px;\">Total de Usuários</p>';\nhtml += '</div>';\n\n// Card Coletas\nhtml += '<div style=\"background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%); padding:20px; border-radius:10px; color:white; text-align:center;\">';\nhtml += '<h2 style=\"margin:0; font-size:48px;\">📦 ' + stats.totalColetas + '</h2>';\nhtml += '<p style=\"margin:5px 0 0 0; font-size:18px;\">Total de Coletas</p>';\nhtml += '</div>';\n\n// Card Pontos\nhtml += '<div style=\"background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%); padding:20px; border-radius:10px; color:white; text-align:center;\">';\nhtml += '<h2 style=\"margin:0; font-size:48px;\">⭐ ' + stats.totalPontos.toLocaleString() + '</h2>';\nhtml += '<p style=\"margin:5px 0 0 0; font-size:18px;\">Pontos Distribuídos</p>';\nhtml += '</div>';\n\n// Card Categorias\nhtml += '<div style=\"background: linear-gradient(135deg, #43e97b 0%, #38f9d7 100%); padding:20px; border-radius:10px; color:white; text-align:center;\">';\nhtml += '<h2 style=\"margin:0; font-size:48px;\">🏷️ ' + stats.totalCategorias + '</h2>';\nhtml += '<p style=\"margin:5px 0 0 0; font-size:18px;\">Categorias Ativas</p>';\nhtml += '</div>';\n\nhtml += '</div>';\n\nmsg.payload = html;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 240,
    "wires": [["ui_display_stats"]]
  },
  {
    "id": "ui_display_stats",
    "type": "ui_template",
    "z": "reuse_admin_tab",
    "group": "dashboard_ui",
    "name": "Display Estatísticas",
    "order": 4,
    "width": 0,
    "height": 0,
    "format": "<div ng-bind-html=\"msg.payload\"></div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 850,
    "y": 240,
    "wires": [[]]
  },
  {
    "id": "dropdown_feature",
    "type": "ui_dropdown",
    "z": "reuse_admin_tab",
    "name": "Selecionar Feature",
    "label": "Funcionalidade:",
    "tooltip": "",
    "place": "Selecione...",
    "group": "dashboard_ui",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": true,
    "multiple": false,
    "options": [
      {"label": "Sistema de Coletas", "value": "coletas_enabled"},
      {"label": "Chat de Suporte", "value": "chat_enabled"},
      {"label": "Notificações", "value": "notifications_enabled"}
    ],
    "payload": "",
    "topic": "feature",
    "topicType": "msg",
    "x": 160,
    "y": 360,
    "wires": [["store_selected_feature"]]
  },
  {
    "id": "store_selected_feature",
    "type": "change",
    "z": "reuse_admin_tab",
    "name": "Armazenar Feature",
    "rules": [
      {
        "t": "set",
        "p": "selected_feature",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 400,
    "y": 360,
    "wires": [[]]
  },
  {
    "id": "btn_toggle",
    "type": "ui_button",
    "z": "reuse_admin_tab",
    "name": "Toggle Feature",
    "group": "dashboard_ui",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "🔄 Ativar/Desativar",
    "tooltip": "Toggle da funcionalidade selecionada",
    "color": "",
    "bgcolor": "#FF9800",
    "icon": "swap_horiz",
    "payload": "",
    "payloadType": "str",
    "topic": "toggle",
    "x": 150,
    "y": 420,
    "wires": [["prepare_toggle_request"]]
  },
  {
    "id": "prepare_toggle_request",
    "type": "function",
    "z": "reuse_admin_tab",
    "name": "Preparar Request",
    "func": "const feature = flow.get('selected_feature');\n\nif (!feature) {\n    node.error('Nenhuma feature selecionada');\n    return null;\n}\n\nmsg.payload = { feature };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 420,
    "wires": [["http_toggle_feature"]]
  },
  {
    "id": "http_toggle_feature",
    "type": "http request",
    "z": "reuse_admin_tab",
    "name": "POST /toggle-feature",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://gvwkpidbubfqhhcbwanu.supabase.co/functions/v1/admin-api/toggle-feature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "other",
        "keyValue": "Authorization",
        "valueType": "other",
        "valueValue": "Bearer SEU_TOKEN_AQUI"
      },
      {
        "keyType": "other",
        "keyValue": "Content-Type",
        "valueType": "other",
        "valueValue": "application/json"
      }
    ],
    "x": 600,
    "y": 420,
    "wires": [["format_toggle_result"]]
  },
  {
    "id": "format_toggle_result",
    "type": "function",
    "z": "reuse_admin_tab",
    "name": "Formatar Resultado",
    "func": "const result = msg.payload;\n\nlet html = '<div style=\"padding:20px; border-radius:10px; ';\n\nif (result.success) {\n    html += 'background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); color:white;\">';\n    html += '<h3 style=\"margin:0;\">✅ Sucesso!</h3>';\n    html += `<p style=\"margin:10px 0 0 0;\">Feature <strong>${result.feature}</strong> está agora: <strong>${result.enabled ? 'ATIVADA ✅' : 'DESATIVADA ❌'}</strong></p>`;\n} else {\n    html += 'background: linear-gradient(135deg, #eb3349 0%, #f45c43 100%); color:white;\">';\n    html += '<h3 style=\"margin:0;\">❌ Erro</h3>';\n    html += `<p style=\"margin:10px 0 0 0;\">${result.error || 'Erro desconhecido'}</p>`;\n}\n\nhtml += '</div>';\n\nmsg.payload = html;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 830,
    "y": 420,
    "wires": [["ui_display_toggle_result"]]
  },
  {
    "id": "ui_display_toggle_result",
    "type": "ui_template",
    "z": "reuse_admin_tab",
    "group": "dashboard_ui",
    "name": "Display Resultado",
    "order": 7,
    "width": 0,
    "height": 0,
    "format": "<div ng-bind-html=\"msg.payload\"></div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 1060,
    "y": 420,
    "wires": [[]]
  }
]
